<ion-header>
  <ion-toolbar color="primary">
    <div class="headerCon">
      <img class="item" src="../../../assets/check.png" />
      <ion-title><b>Done Tasks</b></ion-title>
    </div>
    <ion-buttons slot="start">
      <ion-button (click)="CloseModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">

  </div>

  <ion-list >
    <!-- Multi-line sliding item with icon options on both sides -->
      <ion-item id="item100"  *ngFor="let req of selectedData">
        <ion-item>
          <ion-label>
            <h2>{{req.task_title}}</h2>
            <p>{{req.task_description}}</p>
          </ion-label>

        </ion-item>
        <ion-note slot="end" *ngIf="isCollab">
          Done by:  {{req.user_name}}
        </ion-note>
      </ion-item>

    </ion-list>


</ion-content>
