<ion-header>
  <ion-toolbar color="primary">
    <div class="headerCon">
      <img class="item" src="../../../assets/Tcircle.png" />
      <ion-title><b>Shop</b></ion-title>
    </div>
    <ion-button slot="end" color="light"  >
      <ion-icon color="primary" slot="icon-only" name="briefcase"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <!-- <ion-item lines='none' >
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-label>
      <p>Level: {{user.user_level}}</p>
      <h2>{{user.user_name}}</h2>
    </ion-label>
  </ion-item> -->
</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
        <h2>Themes</h2>

          <div *ngFor="let item of items">
            <ion-card [ngStyle]="{'background-color': item.item_property }">
              <ion-card-header style=" color:#ffffff">
                <h3> {{item.item_name}}  </h3>
              </ion-card-header>
              <ion-card-content class="ion-text-left flexbox" >
                <ion-card-title class="ion-margin-bottom"  style=" color:#ffffff">{{item.item_description}}</ion-card-title>
                <ion-button color="light" class="buttonright"> Buy {{item.item_price}} </ion-button>
              </ion-card-content>
            </ion-card>
          </div>


  </div>

</ion-content>

