<ion-header>
  <ion-toolbar color="primary">
    <div class="headerCon">
      <img style="height: 35px; width: 35px;"class="item" src="../../../assets/t.png" />
      <ion-title><b>Shop</b></ion-title>
    </div>
    <ion-button slot="end" color="light" (click)="OpenOwnedItemModal()"  >
      <ion-icon color="primary" slot="icon-only" name="briefcase"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="headdress" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="themes">
        <ion-label>Themes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="headdress">
        <ion-label>Headdress</ion-label>
      </ion-segment-button>
      <ion-segment-button value="icons">
        <ion-label>Icons</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <!-- <ion-item lines='none' >
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-label>
      <p>Level: {{user.user_level}}</p>
      <h2>{{user.user_name}}</h2>
    </ion-label>
  </ion-item> -->
</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
    <!-- DONT DELETE -->
    <!-- <form id="form"  ngNativeValidate (submit)="upload($event)">

        <ion-label >Upload temporary</ion-label>
      <ion-item>
        <ion-label position="floating" >Id</ion-label>
        <ion-input  name="id"  type="number" [(ngModel)]="category"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >Name</ion-label>
        <ion-input  name="name" [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >Price</ion-label>
        <ion-input  name="prc" type="number" [(ngModel)]="price"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input (change)="onUploadHandler($event)" name="image" type="file"  [(ngModel)]="images"></ion-input>
      </ion-item>
      <ion-button expand="block" shape="round" type="submit" >upload</ion-button>
    </form> -->

      <div *ngIf="selectedSegment == 'themes'">
        <div style="float:left; width: 30%; ">
          <ion-card class="showMoney ">
            <ion-card-header class="ion-text-left flexbox">
              <img src="../../../assets/gold1.png" style="width: 30px; height: 30px; margin-top: -7px; margin-right: 2px;">
              <h3> ${{gold}}</h3>
            </ion-card-header>
          </ion-card>
        </div>


          <div *ngFor="let item of themes">
              <ion-card [ngStyle]="{'background-color': item.item_property }" *ngIf="item.item_category_id==1  && item.item_name !='primary'">
                <ion-card-header style=" color:#ffffff" class="ion-text-left flexbox">
                  <h3> {{item.item_name}}  </h3>
                  <div  *ngFor="let inv of inventory" >
                    <ion-button color="light" class="buttonright" size="large" (click)="owneditem()" *ngIf="item.item_id==inv.item_id"  fill="clear">
                      <img float-right *ngIf="item.item_id==inv.item_id" src="../../../assets/backpack.png" style="right:0px;border-radius: 20%; width: 32px;height: auto;">
                    </ion-button>

                  </div>
                </ion-card-header>
                <ion-button color="light" class="buttonright" (click)="askBuy(item.item_id,item.item_price,item.item_name)">$ {{item.item_price}} </ion-button>
              </ion-card>
          </div>
        </div>
        <div *ngIf="selectedSegment == 'headdress'">
          <div style="float:left; width: 30%;">
            <ion-card class="showMoney ">
              <ion-card-header class="ion-text-left flexbox">
                <img src="../../../assets/gold1.png" style="width: 30px; height: 30px; margin-top: -7px; margin-right: 2px;">
                <h3> ${{gold}}</h3>
              </ion-card-header>
            </ion-card>
          </div>
            <div *ngFor="let item of headdress">
              <ion-card *ngIf="item.item_category_id==2 && item.item_name !='default'">
                <ion-card-header class="ion-text-left flexbox" >
                  <img src="{{ item.item_property }}" style="border-radius: 20%; width: 64px;height: auto;">
                  <h3> {{item.item_name}} </h3>
                  <div  *ngFor="let inv of inventory" >
                    <ion-button color="light" class="buttonright" size="large" (click)="owneditem()" *ngIf="item.item_id==inv.item_id"  fill="clear">
                      <img float-right *ngIf="item.item_id==inv.item_id" src="../../../assets/backpack.png" style="right:0px;border-radius: 20%; width: 32px;height: auto;">
                    </ion-button>

                  </div>
                </ion-card-header>
                <ion-button color="primary" class="buttonright" (click)="askBuy(item.item_id,item.item_price,item.item_name)">$ {{item.item_price}} </ion-button>
              </ion-card>
            </div>
        </div>
        <div *ngIf="selectedSegment == 'icons'">
          <div style="float:left; width: 30%;">
            <ion-card class="showMoney ">
              <ion-card-header class="ion-text-left flexbox">
                <img src="../../../assets/gold1.png" style="width: 30px; height: 30px; margin-top: -7px; margin-right: 2px;">
                <h3> ${{gold}}</h3>
              </ion-card-header>
            </ion-card>
          </div>
            <div *ngFor="let item of icons">
              <ion-card *ngIf="item.item_category_id==3  && item.item_name !='default'" >
                <ion-card-header class="ion-text-left flexbox" >
                  <img src="{{ item.item_property }}" style="border-radius: 20%; width: 64px;height: auto;">
                  <h3> {{item.item_name}}  </h3>
                  <div  *ngFor="let inv of inventory" >
                    <ion-button color="light" class="buttonright" size="large" (click)="owneditem()" *ngIf="item.item_id==inv.item_id"  fill="clear">
                      <img float-right *ngIf="item.item_id==inv.item_id" src="../../../assets/backpack.png" style="right:0px;border-radius: 20%; width: 32px;height: auto;">
                    </ion-button>

                  </div>
                </ion-card-header>
                <ion-button color="primary" class="buttonright" (click)="askBuy(item.item_id,item.item_price,item.item_name)">$ {{item.item_price}} </ion-button>
              </ion-card>
            </div>
        </div>


  </div>

</ion-content>

