<ion-header>
  <ion-toolbar>
    <ion-title><b>Shop</b></ion-title>
    <ion-button slot="end" color="light"  >
      <ion-icon name="briefcase"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <ion-item lines='none' >
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-label>
      <p>Uson</p>
      <h2>Ayn Gandhi</h2>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
        <h2>Themes</h2>
        <ion-card style="background-color: #3670e5;">
          <ion-card-header style=" color:#ffffff">
            <h3> $15.00   </h3>
          </ion-card-header>
          <ion-card-content class="ion-text-left flexbox" >
            <ion-card-title class="ion-margin-bottom"  style=" color:#ffffff">Item 1</ion-card-title>
            <ion-button color="light" class="buttonright">Buy</ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card style="background-color: #1A49A7;">
          <ion-card-header style=" color:#ffffff">
            <h3> $15.00   </h3>
          </ion-card-header>
          <ion-card-content class="ion-text-left flexbox" >
            <ion-card-title class="ion-margin-bottom"  style=" color:#ffffff">Item 2</ion-card-title>
            <ion-button color="light" class="buttonright">Buy</ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card style="background-color: #D8B99C;">
          <ion-card-header style=" color:#ffffff">
            <h3> $15.00   </h3>
          </ion-card-header>
          <ion-card-content class="ion-text-left flexbox" >
            <ion-card-title class="ion-margin-bottom"  style=" color:#ffffff">Item 3</ion-card-title>
            <ion-button color="light" class="buttonright">Buy</ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card style="background-color: #D6CC3E;">
          <ion-card-header style=" color:#ffffff">
            <h3> $15.00   </h3>
          </ion-card-header>
          <ion-card-content class="ion-text-left flexbox" >
            <ion-card-title class="ion-margin-bottom"  style=" color:#ffffff">Item 4</ion-card-title>
            <ion-button color="light" class="buttonright">Buy</ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card style="background-color: #E6A122;">
          <ion-card-header style=" color:#ffffff">
            <h3> $15.00   </h3>
          </ion-card-header>
          <ion-card-content class="ion-text-left flexbox" >
            <ion-card-title class="ion-margin-bottom"  style=" color:#ffffff">Item 5</ion-card-title>
            <ion-button color="light" class="buttonright">Buy</ion-button>
          </ion-card-content>
        </ion-card>

  </div>

</ion-content>

