<ion-header>
  <ion-toolbar color="primary">
    <div class="headerCon">
      <img class="item" src="../../../assets/deal.png" />
      <ion-title><b>Invite Collaborator</b></ion-title>
    </div>
    <ion-buttons slot="start">
      <ion-button (click)="CloseModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
      <ion-card>
        <ion-item>
          <ion-searchbar showCancelButton="focus" placeholder="Search Collaborator" #search debounce="500" (ionChange)="collabSearch($event)"></ion-searchbar>
        </ion-item>

      </ion-card>
  </div>
  <ion-list>
    <ion-item *ngFor="let collaborator of searchedItem">
      <img style="float:right" src="{{collaborator.item_property}}" />
      <ion-label>{{collaborator.user_name}}</ion-label>
      <div *ngIf="collaborator.isAccepted == 0">
        <ion-button disabled=true (click)="checkIfMem(collaborator.user_id,collaborator.user_name)"> Invited </ion-button>
      </div>
      <div *ngIf="collaborator.isAccepted == 1">
        <ion-button disabled=true (click)="checkIfMem(collaborator.user_id,collaborator.user_name)"> Member </ion-button>
      </div>
      <div *ngIf="collaborator.isAccepted != 1 && collaborator.isAccepted != 0">
        <ion-button  (click)="checkIfMem(collaborator.user_id,collaborator.user_name)"> Invite </ion-button>
      </div>

    </ion-item>
  </ion-list>

</ion-content>
