<ion-header>
  <ion-toolbar color="primary">
    <div class="headerCon">
      <img class="item" src="../../../assets/add.png" />
      <ion-title><b>Add Task</b></ion-title>
    </div>
    <ion-buttons slot="start">
      <ion-button (click)="CloseModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
      <ion-card>
        <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-input name="title" [(ngModel)]="addCollabTask.task_title"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input name="description" [(ngModel)]="addCollabTask.task_description"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Category</ion-label>
          <ion-select name="category" value="{{category}}" disabled  >
            <ion-select-option value="school">School</ion-select-option>
            <ion-select-option value="work">Work</ion-select-option>
            <ion-select-option value="fitness">Fitness</ion-select-option>
            <ion-select-option value="others">Others</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button (click)="create()"> Create </ion-button>
      </ion-card>
  </div>


</ion-content>
