<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Collaboration request</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="CloseModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">

  </div>


  <ion-list>
    <ion-item *ngFor="let req of selectedData">
      <ion-label> <b>{{req.collab_room_name}}</b> </ion-label>
      <ion-label>{{req.collab_room_description}}</ion-label>
      <ion-button color="success" (click)="acceptCollab(req.member_rec_id, req.collab_room_name)"> Accept </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
