<ion-header>
  <ion-toolbar color="primary">
    <ion-title><b>{{room.collab_room_name}}</b></ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="backCollab()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-button slot="end" color="light" (click)="OpenInviteModal()" >
      <ion-icon name="person-add"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <ion-item lines='none' >
    <ion-label>
      <h2>{{room.collab_room_description}}</h2>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
    <h3>Tasks</h3>
    <ion-card *ngFor="let task of selectedData">
      <ion-card-header>
        <h3> {{task.task_title}}  </h3>
      </ion-card-header>
      <ion-card-content class="ion-text-left flexbox" >
        <ion-card-title class="ion-margin-bottom"  > {{task.task_description}} </ion-card-title>
      </ion-card-content>
    </ion-card>


    pull members temporary
    <ion-list>
      <ion-item *ngFor="let mem of members">
        <h2>{{mem.user_name}}</h2>
      </ion-item>
    </ion-list>

  </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="OpenModal()">
        <ion-icon name="add" style="color:aliceblue"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>

