<ion-header>
  <ion-toolbar color="primary">
    <ion-title><b>{{room.collab_room_name}}</b></ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="backCollab()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-button slot="end" color="light" (click)="OpenInviteModal()" >
      <ion-icon name="person-add"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <ion-item lines='none' >
    <ion-label>
      <h2>{{room.collab_room_description}}</h2>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <ion-list >
    <!-- Multi-line sliding item with icon options on both sides -->
      <ion-item-sliding id="item100" *ngFor="let task of selectedData">
        <ion-item>
          <ion-label>
            <h2>{{task.task_title}}</h2>
            <p>{{task.task_description}}</p>
          </ion-label>
          <ion-note slot="end">
            10:45 AM
            <!-- Deadline or date created -->
          </ion-note>
        </ion-item>

        <!-- DONE -->
        <ion-item-options side="start">
          <ion-item-option color="danger" (click)="deleteTask(task.task_id, task.task_title)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <!-- DELETE AND VIEW -->
        <ion-item-options side="end">
          <ion-item-option color="success" (click)="doneTask(task.task_id, task.task_title)">
            <ion-icon  slot="icon-only" name="heart"></ion-icon>
          </ion-item-option>

          <ion-item-option>
            <ion-icon slot="icon-only" name="eye"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>


  <div class="slides ion-margin-bottom">


    pull members temporary
    <ion-list>
      <ion-item *ngFor="let mem of members">
        <h2>{{mem.user_name}}</h2>
      </ion-item>
    </ion-list>

  </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="OpenModal()">
        <ion-icon name="add" style="color:aliceblue"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>

