<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="../../../assets/tama.png" alt="tama img">
      <h1>Welcome to TAMA</h1>
      <p>"insert catchy phrase"</p>
    </ion-slide>
    <ion-slide>
      <h1>Gamified + Collaboration!!!</h1>
    </ion-slide>
    <ion-slide>
      <h1>Lets get started!</h1>
      <div>
        <ion-button expand="block" fill="solid" (click)="toLogin()">Start</ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
