<ion-header>
  <ion-toolbar color={{equipedTheme}}  style="color:white">
    <!-- <div class="headerCon">
      <img class="item" src="../../../assets/Tcircle.png" />
      <ion-title><b>Profile</b></ion-title>
    </div>
    <ion-button slot="end" color="light" (click)="logout()" >
      <ion-icon color=primary slot="icon-only" name="log-out"></ion-icon>
    </ion-button> -->
    <ion-avatar slot="start">
      <img src="{{equipedProfile}}" style="margin: 5px 2px 2px 2px;">
    </ion-avatar>
    <ion-label>
      <ion-title><b>{{user.user_name}}</b></ion-title>
      <h2></h2>
    </ion-label>
    <ion-button slot="end" color="light" (click)="logoutbtn()"  >
      <ion-icon color={{equipedTheme}}  slot="icon-only"    name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-progress-bar color={{equipedTheme}}  value={{xp}}></ion-progress-bar>


</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom" >
    <ion-card>
      <ion-list [ngStyle]="{'background-color': equipedProp }">
        <ion-item color={{equipedTheme}}  style="color:white">
          <ion-label>Level {{user.user_level}} </ion-label>
        </ion-item>
        <ion-item  color={{equipedTheme}} class="ion-text-left flexbox"  style="color:white">
          <img src="../../../assets/gold1.png" style="border-radius: 20%; width: 32px;height: auto;margin-right:10px; ">
          <ion-label >{{user.user_gold}} </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-list  [ngStyle]="{'background-color': equipedProp }">
        <ion-item color={{equipedTheme}}  style="color:white">
          <ion-label>Headdress</ion-label>
          <div style="margin-top: -5px;padding: 3px;background-color: white; border-radius: 20%;">
            <img src="{{equipedHeaddress}}">
          </div>

        </ion-item>
        <ion-item color={{equipedTheme}} (click)="OpenOwnedItemModal()"  style="color:white">
          <ion-label>Owned Items </ion-label>
          <div style="margin-top: -5px;padding: 3px;background-color: white; width: 34px;height:34px;border-radius: 20%;text-align: center;padding: 0px 0;
          ">
            <p style="color:black"><b>{{ownedCount}}</b></p>
          </div>
        </ion-item>
        <ion-item color={{equipedTheme}}  style="color:white">
          <ion-label>Unfinished Collab tasks</ion-label>
        </ion-item>
        <ion-item color={{equipedTheme}}  style="color:white">
          <ion-label>Your unfinished tasks</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-item   style="color:#1a1110; margin-bottom:5px">

      <ion-label> <b>Pending Tasks by Category</b> </ion-label>
    </ion-item>

    <canvas baseChart
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    [legend]="showLegend"
    [chartType]="chartType">
    </canvas>

    <!-- <ion-card>
      <ion-card-header>
        <ion-card-title>Settings</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Line chart?</ion-label>
          <ion-toggle (ionChange)="typeChanged($event)" checked></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Show legend?</ion-label>
          <ion-toggle [(ngModel)]="showLegend"></ion-toggle>
        </ion-item>
      </ion-card-content>
    </ion-card> -->

  </div>

</ion-content>

