
<ion-content>
  <div class="bg-container">


    <form id="form" >
      <ion-text color="primary">
        <h1>Sign up</h1>
      </ion-text>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input name="uname"  #uname [(ngModel)]="unameInput"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input name="email" #email  [(ngModel)]="emailInput"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-icon size="small" class="eye" slot = "end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
        <ion-input [type] ="showPassword ? 'text' : 'password'" name="pword" [(ngModel)]="pwordInput" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password </ion-label>
        <ion-icon size="small" class="eye" slot = "end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
        <ion-input [type] ="showPassword ? 'text' : 'password'" name="pword" [(ngModel)]="pwordConfirm" ></ion-input>
      </ion-item>
      <ion-button expand="block" shape="round" (click)='signup()' >Join Us</ion-button>
    </form>

  </div>
</ion-content>



