ion-header {
  font-family: "Poppins", sans-serif;
  ion-toolbar,
  ion-item {
    --background: #fff;
    background: #fff;
    padding: 0 10px;
  }

  ion-toolbar {
    .bordered {
      --border-radius: 20%;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #fff;
    }
  }
  ion-item {
    h3 {
      font-weight: 700;
      font-size: 14px;
    }
    p {
      font-weight: 500;
      font-size: 14px;
    }
    ion-avatar {
      --border-radius: 40%;
    }
  }
}

ion-content {
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  --background: linear-gradient(
    90deg,
    rgba(43, 90, 148, 1) 0%,
    rgba(45, 112, 229, 1) 35%,
    rgba(45, 112, 229, 1) 100%
  );
  font-family: "Poppins", sans-serif;
  .slides {
    background: #fff;
    padding: 4px 10px 10px 10px;
    border-radius: 0 0 28px 28px;
  }

  ion-card {
    text-align: center ;
    box-shadow: none;
    background: rgba(255, 255, 255, 0.8);
    ion-icon {
      font-size: 50px;
      color: #3880ff;
      margin-top: 5px;
      margin-bottom: -15px;
    }
  }

  .container {
    padding: 6px 20px;
    color: #ffffff;

    ion-item {
      --background: rgba(255, 255, 255, 0.1);
      padding: 0;
      margin: 14px 0;
      --border-radius: 14px;
      color: #ffffff;
      font-weight: 600;

      ion-label {
        padding: 6px 0;

        h4 {
          font-weight: 600;
          font-size: 16px;
        }
        h6 {
          color: rgba(255, 255, 255, 0.66);
        }
      }
    }

    h2 {
      padding-bottom: 8px;
    }
  }
}

.flexbox{
  display: flex;
}
.buttonright{
  position: absolute;
  right: 10px;
  padding: 0px 10px 10px 10px;
  font-family: "Poppins", sans-serif;
}
