<ion-header>
  <ion-toolbar color="primary">
    <ion-title><b> Todo  </b></ion-title>
    <!-- <ion-button slot="end" color="light" (click)="backCollab()" >
      <ion-icon name="caret-back"></ion-icon>
    </ion-button> -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <!--
  <ion-item lines='none' >
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-label>
      <p>Level: {{user.user_level}}</p>
      <h2>{{user.user_name}}</h2>
    </ion-label>
  </ion-item>
  -->
</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
      <br>
      <ion-card >
        <ion-icon  name="{{icon}}"></ion-icon>
        <h2 style="color: #0e1111"> <b>{{category}}</b> </h2>
        <p style="font-size: 12px">{{count}} TASKS</p>
      </ion-card>


<!--
    <ion-card *ngFor="let task of tasks">
      <ion-card-header>
        <h3> {{task.task_title}}  </h3>
      </ion-card-header>
      <ion-card-content class="ion-text-left flexbox" >
        <ion-card-title class="ion-margin-bottom"  > {{task.task_description}} </ion-card-title>
      </ion-card-content>
    </ion-card> -->

    </div>
    <h3 *ngIf="categoryBlank"> {{category}} is empty. Do something... </h3>



      <ion-list >
      <!-- Multi-line sliding item with icon options on both sides -->
        <ion-item-sliding id="item100" *ngFor="let task of tasks">
          <ion-item>
            <ion-label>
              <h2>{{task.task_title}}</h2>
              <p>{{task.task_description}}</p>
            </ion-label>
            <ion-note slot="end">
              10:45 AM
              <!-- Deadline or date created -->
            </ion-note>
          </ion-item>

          <!-- DONE -->
          <ion-item-options side="start">
            <ion-item-option>
              <ion-icon slot="icon-only" name="heart"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <!-- DELETE AND VIEW -->
          <ion-item-options side="end">
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
            <ion-item-option>
              <ion-icon slot="icon-only" name="eye"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

      </ion-list>

</ion-content>

