<!-- <ion-header >
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/signup">Sign up</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="bg-container">
    <div id="header">
     <img src="../../../assets/Tcircle.png" />
    </div>


    <form id="form"  ngNativeValidate (submit)="Log($event)">
      <ion-item>
        <ion-label position="floating">Username</ion-label>

        <ion-input name="uname" [(ngModel)]="unameInput"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-icon size="small" class="eye" slot = "end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
        <ion-input [type] ="showPassword ? 'text' : 'password'" name="pword" [(ngModel)]="pwordInput" ></ion-input>
      </ion-item>
      <!--
      <ion-input placeholder="Username"></ion-input>
      <ion-input type="password" placeholder="Password"></ion-input> -->


      <ion-button expand="block" shape="round" type="submit" >Login</ion-button>
      <h4 routerLink="/signup"> Sign up</h4>

    </form>
  </div>
</ion-content>
