<ion-header>
  <ion-toolbar>
    <ion-title><b>Collaboration</b></ion-title>
    <ion-button slot="end" color="light"  >
      <ion-icon name="person-add"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <ion-item lines='none' >
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-label>
      <p>Level: {{user.user_level}}</p>
      <h2>{{user.user_name}}</h2>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">

        <ion-card >
          <ion-card-header>
            <h3> Collab1  </h3>
          </ion-card-header>
          <ion-card-content class="ion-text-left flexbox" >
            <ion-card-title class="ion-margin-bottom"  >Group Work</ion-card-title>
          </ion-card-content>
        </ion-card>

        <ion-card >
          <ion-card-header>
            <h3> Collab2  </h3>
          </ion-card-header>
          <ion-card-content class="ion-text-left flexbox" >
            <ion-card-title class="ion-margin-bottom"  >IT Elective 4 Assignment</ion-card-title>
          </ion-card-content>
        </ion-card>

        <ion-card >
          <ion-card-header>
            <h3> Collab3  </h3>
          </ion-card-header>
          <ion-card-content class="ion-text-left flexbox" >
            <ion-card-title class="ion-margin-bottom"  >SIA Document Issuance Checklist</ion-card-title>
          </ion-card-content>
        </ion-card>

  </div>

</ion-content>

