<ion-header>
  <ion-toolbar color="primary">
    <div class="headerCon">
      <img style="height: 35px; width: 35px;"class="item" src="../../../assets/t.png" />
      <ion-title><b>Collaboration</b></ion-title>
    </div>
    <ion-button id="notification-button" slot="end" color="light" (click)="toPendingreq()" >
      <ion-icon  name="notifications" color="primary" slot="icon-only" name="person-add"></ion-icon>
      <ion-badge id="notifications-badge" color="primary"> {{pendingReq}} </ion-badge>
    </ion-button>
  </ion-toolbar>

  <!-- <ion-item lines='none' >
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-label>
      <p>Level: {{user.user_level}}</p>
      <h2>{{user.user_name}}</h2>
    </ion-label>
  </ion-item> -->
</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">

    <h3>Rooms</h3>

        <ion-card *ngFor="let room of acceptedCollab" (click)="selectRoom(room)">
          <ion-card-header>
            <ion-icon *ngIf=" room.collab_category_id==1 "  name="school"></ion-icon>
            <ion-icon *ngIf=" room.collab_category_id==2 "  name="briefcase"></ion-icon>
            <ion-icon *ngIf=" room.collab_category_id==3 "  name="barbell"></ion-icon>
            <ion-icon *ngIf=" room.collab_category_id==4 "  name="pizza"></ion-icon>
            <ion-card-title> {{room.collab_room_name}}  </ion-card-title>
          </ion-card-header>
          <ion-card-content >
            <h3> {{room.collab_room_description}} </h3>
          </ion-card-content>
        </ion-card>

  </div>
  <div  *ngIf="collabEmpty">
    <img src="../../../../assets/relax.png" alt="">
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="OpenModal()">
      <ion-icon name="add" style="color:aliceblue"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

