<ion-header>
  <ion-toolbar color="primary">
    <div class="headerCon">
      <img class="item" src="../../../assets/deal.png" />
      <ion-title><b>Collaborators</b></ion-title>
    </div>
    <ion-buttons slot="start">
      <ion-button (click)="CloseModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="slides ion-margin-bottom">

  </div>

  <ion-list >
    <!-- Multi-line sliding item with icon options on both sides -->
      <ion-item-sliding id="item100"  *ngFor="let req of members">
        <ion-item>
          <ion-label class="flexbox">
            <ion-row class="ion-justify-content-start">
              <ion-col size="3">
                <div>
                  <img class="item"  src="{{req.item_property}}"/>
                </div>
              </ion-col>
              <ion-col size="3">
                <div>
                  <h2><b>{{req.user_name}}</b> </h2>
                  <p>Level: {{req.user_level}}</p>
                </div>
                <div class="headerCon" *ngIf=" req.user_id == user_id">
                  <p><b>You</b> </p>
                </div>
              </ion-col>
            </ion-row>
          </ion-label>

          <div class="headerCon" *ngIf=" req.user_id == creator_id">
            <div *ngFor="let own of ownedItems">
              <img class="item"  src="{{own.item_property}}" *ngIf=" own.item_category_id == 2 && own.isEquiped == 1"/>
            </div>
          </div>
        </ion-item>

        <!-- DELETE AND VIEW -->
        <ion-item-options side="end" *ngIf="isCreator && req.user_id != creator_id">
          <ion-item-option color="danger" (click)="deleteMem(req.member_rec_id, req.user_name)" >
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>


</ion-content>
