<ion-header >
  <ion-toolbar color="primary">
    <div class="headerCon">
      <img style="height: 35px; width: 35px;"class="item" src="../../../assets/t.png" />
      <ion-title><b>Todos</b></ion-title>
    </div>

    <ion-button slot="end" color="light">
      <ion-icon color="primary" slot="icon-only"  name="people-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

<!--
  <ion-item lines='none' >
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-label>
      <p>Level: {{user.user_level}}</p>
      <h2>{{user.user_name}}</h2>
    </ion-label>
  </ion-item>
-->
</ion-header>


<ion-content>

  <!-- {{a | json}} -->

  <div class="slides ion-margin-bottom" >

      <!-- <ion-slides [options]="slidesOptions" *ngFor="let task of selectedData">
        <ion-slide > -->
        <ion-grid>
            <ion-row>

              <ion-col *ngFor="let categ of category" col-6 no-padding>
                <ion-card>
                  <ion-card-header (click)="viewCategory(categ,categ.category, categ.category_property)">
                    <ion-icon  name="{{categ.category_property}}"></ion-icon>
                    <ion-card-title size="small"> {{categ.category}} </ion-card-title>
                  </ion-card-header>
                    <ion-card-content class="fixline">
                      <h3 *ngIf="categ.category_id == 1"> {{schoolCount}} </h3>
                      <h3 *ngIf="categ.category_id == 2"> {{workCount}} </h3>
                      <h3 *ngIf="categ.category_id == 3"> {{fitnessCount}} </h3>
                      <h3 *ngIf="categ.category_id == 4"> {{othersCount}} </h3>
                    </ion-card-content>
                </ion-card>
              </ion-col>

            </ion-row>
          </ion-grid>

   </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="OpenModal()">
      <ion-icon name="add" style="color:aliceblue"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="container">

    <h2 style="text-align: center; font-weight: 700; margin-top: -5px; margin-bottom: -5px;">Collab Request</h2>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">

            <ion-avatar>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>

          </ion-col>
          <ion-col size="7">
            <ion-label>
							<h6>Edejer, Ranny</h6>
						</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
        <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-avatar>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h6>Gonzaga, Johncel</h6>
						</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </div>
</ion-content>

