<ion-header >
  <ion-toolbar color="primary">
    <ion-title><b>Todos</b></ion-title>
    <ion-button slot="end" color="light">
      <ion-icon  name="people-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <ion-item lines='none' >
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-label>
      <p>Level: {{user.user_level}}</p>
      <h2>{{user.user_name}}</h2>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <!-- {{a | json}} -->

  <div class="slides ion-margin-bottom">

      <ion-slides [options]="slidesOptions" *ngFor="let task of selectedData">
        <ion-slide >
          <ion-card>
            <ion-card-header>
              <h3> {{task.task_description}}   </h3>
            </ion-card-header>
            <ion-card-content class="ion-text-left">
              <ion-card-title class="ion-margin-bottom">{{task.task_title}}</ion-card-title>
            </ion-card-content>
            <ion-icon name="arrow-forward" style="float:right;"></ion-icon>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <ion-button expand="block">View</ion-button>
            <ion-button expand="block">Update</ion-button>
          </ion-card>
        </ion-slide>

      </ion-slides>

    <ion-button color="{{tbcolor}}" (click)="changeTbColor()" >(test)Change Button Color</ion-button>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="container">

    <h2>Collab Request</h2>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">

            <ion-avatar>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>

          </ion-col>
          <ion-col size="7">
            <ion-label>
							<h6>Edejer</h6>
              <h4>Ranny</h4>
						</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
        <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-avatar>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h6>Gonzaga</h6>
              <h4>Johncel</h4>
						</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </div>
</ion-content>

