<ion-header >
  <ion-toolbar color="primary">
    <div class="headerCon">
      <img style="height: 35px; width: 35px;"class="item" src="../../../assets/t.png" />
      <ion-title><b>Todos</b></ion-title>
    </div>


  </ion-toolbar>

<!--
  <ion-item lines='none' >
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-label>
      <p>Level: {{user.user_level}}</p>
      <h2>{{user.user_name}}</h2>
    </ion-label>
  </ion-item>
-->
</ion-header>


<ion-content >


  <div class="slides ion-margin-bottom" >

      <!-- <ion-slides [options]="slidesOptions" *ngFor="let task of selectedData">
        <ion-slide > -->
        <ion-grid style="margin-left: -18px;">
            <ion-row justify-content-start align-items-start>

              <ion-col *ngFor="let categ of category"  size="6" >
                <ion-card style="width: 100%;margin-bottom: -40px;" *ngIf="categ.category_id == 1 || categ.category_id == 2 ">

                  <ion-card-header (click)="viewCategory(categ,categ.category, categ.category_property)">
                    <ion-icon  name="{{categ.category_property}}"></ion-icon>
                    <ion-card-title size="small"> {{categ.category}} </ion-card-title>
                  </ion-card-header>
                    <ion-card-content class="fixline">
                      <h3 *ngIf="categ.category_id == 1"> {{schoolCount}} </h3>
                      <h3 *ngIf="categ.category_id == 2"> {{workCount}} </h3>
                      <h3 *ngIf="categ.category_id == 3"> {{fitnessCount}} </h3>
                      <h3 *ngIf="categ.category_id == 4"> {{othersCount}} </h3>
                    </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>

          </ion-grid>
          <ion-grid style="margin-left: -18px;">
            <ion-row>

              <ion-col *ngFor="let categ of category"  size="6">
                <ion-card style="width: 100%" *ngIf="categ.category_id == 3 || categ.category_id == 4 ">
                  <ion-card-header (click)="viewCategory(categ,categ.category, categ.category_property)">
                    <ion-icon  name="{{categ.category_property}}"></ion-icon>
                    <ion-card-title size="small"> {{categ.category}} </ion-card-title>
                  </ion-card-header>
                    <ion-card-content class="fixline">
                      <h3 *ngIf="categ.category_id == 1"> {{schoolCount}} </h3>
                      <h3 *ngIf="categ.category_id == 2"> {{workCount}} </h3>
                      <h3 *ngIf="categ.category_id == 3"> {{fitnessCount}} </h3>
                      <h3 *ngIf="categ.category_id == 4"> {{othersCount}} </h3>
                    </ion-card-content>
                </ion-card>
              </ion-col>

            </ion-row>
          </ion-grid>



   </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="OpenModal()">
      <ion-icon name="add" style="color:aliceblue"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="container">

    <p style="float:left;font-size: 20px; margin-bottom: -5px;margin-left: -5px;">Collab Request</p>
    <ion-button size="small" slot="end" color="light" style="margin-bottom: -30px; margin-left: 15px;" (click)="toPendingreq()"> <ion-icon name="people" style="font-size: 24px;"></ion-icon></ion-button>

    <ion-item lines="none" *ngIf="pendingEmpty" style="margin-top: 40px">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">

            <h3>No pending collab request.</h3>

          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item item lines="none" *ngFor="let req of pendingReq" style="margin-top: 40px">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">

            <ion-avatar>
              <img class="item"  src="{{req.item_property}}"/>
            </ion-avatar>

          </ion-col>
          <ion-col size="6" >
            <ion-label>
							<h2>{{req.collab_room_name}}</h2>
              <p style="color:rgb(235, 224, 224);">{{req.collab_room_description}}</p>
						</ion-label>

          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-item>

  </div>
</ion-content>

